@using Microsoft.CodeAnalysis.Operations
@model PhoneService.Core.Models.Product.ProductResponse

<h2>Szczegóły produktu <br/><small><strong>@Model.Producer @Model.Model </strong></small></h2>
<br />
<div class="row">
    <div class="col-sm-4">
            <h5>Informacje podstawowe</h5>
            <hr />
        <p>Model: <strong>@Model.Model</strong></p>
        <p>Producent: <strong>@Model.Producer</strong></p>
            <p class="card"><span class="card-body" title="Opis">
                    @Model.Description
            </span></p>
        <p><a asp-action="Index" asp-controller="Product"><i class="fa fa-arrow-left" aria-hidden="true"></i> Powrót do listy</a></p>
    </div>
    <div class="col-sm-8">
            <h5>Lista części zamiennych</h5>
            @if (Model.SapareParts == null)
            {
                <p>Brak części zamiennych</p>
            }
            else
            {
                if (!Model.SapareParts.Any())
                {
                    <p>Brak części zamiennych</p>
                }
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nazwa</th>
                            <th>Numer referencyjny</th>
                            <th>Cena jednostkowa</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var part in Model.SapareParts)
                        {
                            <tr>
                                <td>@part.Name</td>
                                <td>@part.ReferenceNumber</td>
                                <td>@part.Price.ToString("C")</td>
                                <td>
                                    <div class="d-inline-flex">
                                        <a class="btn btn-link text-warning" asp-action="UpdateSaparePart"
                                            asp-controller="SaparePart" asp-route-saparePartId="@part.SaparePartId" asp-route-productId="@part.ProductId" 
                                              title="Edytuj"><i class="fas fa-pen-square"></i></a>
                                        <form asp-action="RemoveSaparePart" method="post"
                                                asp-controller="SaparePart" asp-route-saparePartId="@part.SaparePartId"
                                                asp-route-productId="@Model.ProductId">
                                            <button title="Usuń" type="submit" class="btn btn-link text-danger" onclick="return confirm('Czy na pewno chcesz usunać tę część?')">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            }
            <a class="btn btn-success float-right" asp-action="AddSaparePart" asp-controller="SaparePart" asp-route-productId="@Model.ProductId"><i class="fa fa-plus" aria-hidden="true"></i> Dodaj część</a>
        </div>
    <br />

    
</div>