@using Microsoft.CodeAnalysis.Operations
@model PhoneService.Core.Models.Product.ProductResponse

<h2>Szczegóły produktu</h2>
<br />

<div class="col-sm-12">
    <h4>Informacje podstawowe</h4>
    <hr />
    <div class="row">
        <div class="col-sm-6">
            <p>Id: <strong>@Model.ProductId</strong></p>
            <p>Model: <strong>@Model.Model</strong></p>
        </div>
        <div class="col-sm-6">
            <p>Producent: <strong>@Model.Producer</strong></p>
            <p>Opis: <strong>@Model.Description</strong></p>
        </div>
        <br />
        <div class="col-sm-12">
            <h4>Lista części zamiennych</h4>
            <hr />
            @if (Model.SapareParts == null)
            {
                <p>Brak części zamiennych</p>
            }
            else
            {
                if (!Model.SapareParts.Any())
                {
                    <p>Brak części zamiennych</p>
                }
                <table>
                    <thead>
                        <tr>
                            <th>Numer Id</th>
                            <th>Nazwa</th>
                            <th>Numer referencyjny</th>
                            <th>Cena netto</th>
                            <th>Telefon</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var part in Model.SapareParts)
                        {
                            <tr>
                                <td>@part.SaparePartId</td>
                                <td>@part.Name</td>
                                <td>@part.ReferenceNumebr</td>
                                <td>@part.Price.ToString("C")</td>
                                <td>@Model.Producer @Model.Model</td>
                                <td>
                                    <p>
                                        <a class="active" asp-action="UpdateSaparePart"
                                           asp-controller="SaparePart" asp-route-id="@part.SaparePartId">Edytuj</a> |
                                        <form class="active" asp-action="RemoveSaparePart" method="post"
                                              asp-controller="SaparePart" asp-route-saparePartId="@part.SaparePartId"
                                              asp-route-productId="@Model.ProductId">
                                            <input type="submit" value="Usuń" class="btn btn-sm"
                                                   onclick="return confirm('Czy na pewno chcesz usunać tę część?')" />
                                        </form>
                                    </p>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            }
        </div>
    </div>

    <div>
        <a class="btn btn-block" asp-action="AddSaparePart" asp-controller="SaparePart" asp-route-productId="@Model.ProductId">Dodaj część</a>
        <a class="btn btn-block" asp-action="Index" asp-controller="Product">Powrót do listy</a>
    </div>
</div>
