@model IEnumerable<PhoneService.Core.Models.Product.ProductResponse>

<div class="col-sm-12">
    <a class="btn btn-outline-dark" asp-action="AddProduct" asp-controller="Product">Dodaj produkt</a>
</div>
<hr />
<div>
    <table class="table table-dark">
        <thead class="tab-pane">
        <tr>
            <td>Numer Id</td>
            <td>Producent</td>
            <td>Model</td>
            <td>Opis</td>
            <td></td>
            <td></td>
        </tr>
        </thead>
        <tbody class="tab-content">
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductId</td>
                <td>@product.Producer</td>
                <td>@product.Model</td>
                <td>@product.Description</td>
                <td>
                    <a class="nav-link active" asp-action="UpdateProduct"
                       asp-controller="Product" asp-route-id="@product.ProductId">Edytuj</a>
                </td>
                <td>
                    <form class="nav-link active" asp-action="RemoveProduct" method="post"
                          asp-controller="Product" asp-route-id="@product.ProductId">
                        <input type="submit" value="Usuń" class="btn btn-sm"
                               onclick="return confirm('Czy na pewno chcesz usunać tego klienta?')" />
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
