@model PhoneService.Core.Models.Repair.RepairDetailsResponse
@{
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}
<style>
body,[role=main]{
    margin-top:0;
    padding-top: 15px;
}
</style>
<div class="container">
        <p class="text-center"><img src="~/images/telmax-logo.png" alt="TelMax" width="200"></p>
        <div class="alert alert-primary" role="alert">
                <h3 class="alert-heading">Witaj @Model.CustomerDetails.Name!</h3>
                <p>Twoja naprawa <strong>@Model.Product.Producer @Model.Product.Model</strong> została <strong>wyceniona</strong>. Poniżej znajdziesz szczegóły naprawy i listę części wymaganych do przeprowadzenia serwisu.</p>
                <hr>
                <p class="mb-0">Poniżej możesz zaakceptować lub odrzucić przygotowaną przez nas wycenę.</p>
              </div>
              <div class="row">
                  <div class="col-sm-6">
                      <form asp-controller="Repair" asp-action="CustomerConfirmOrDenyRepair" method="post" asp-antiforgery="true"
                            asp-route-repairId="@Model.RepairId" asp-route-statusId="3">
                          <button class="btn btn-success btn-lg btn-block">
                                  <i class="fa fa-check" aria-hidden="true"></i> Przyjmuję wycenę na kwotę: @(Model.RepairItems.Sum(x => x.Quantity * x.SaparePart.Price)) zł
                          </button>
                      </form>
                  </div>
                  <div class="col-sm-6">
                      <form asp-controller="Repair" asp-action="CustomerConfirmOrDenyRepair" method="post" asp-antiforgery="true"
                            asp-route-repairId="@Model.RepairId" asp-route-statusId="6">
                            <button class="btn btn-danger btn-lg btn-block">
                                  <i class="fa fa-times" aria-hidden="true"></i> Odrzucam wycenę
                          </button>
                      </form>
                  </div>
              </div>
              <br>
              <div class="row">
                  <div class="col-sm-6">
                          <h5>Szczegóły naprawy</h5>
                          <hr>
                          <p>Numer naprawy: <span class="badge badge-primary">#@Model.RepairId</span></p>
                          <p>Klient: <strong>@Model.CustomerDetails.Name @Model.CustomerDetails.LastName</strong></p>
                          <p>Zarejestrowano dnia: <strong>@Model.CreateTime</strong></p>
                          <p>Obecny status: <span class="badge badge-primary">@Model.StatusName</s></p>
                          <p>Opis usterki: <em>@Model.Description</em></p>
                  </div>
                  <div class="col-sm-6">
                          <h5>Wycena</h5>
                          <div>
                                  <table class="table">
                                      <thead>
                                          <tr>
                                              <th>Część</th>
                                              <th>Cena jednostkowa</th>
                                              <th>Ilość</th>
                                              <th>Cena końcowa</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          @foreach (var part in @Model.RepairItems)
                                          {
                                              <tr>
                                                  <td>@part.SaparePart.Name</td>
                                                  <td>@part.SaparePart.Price</td>
                                                  <td>@part.Quantity</td>
                                                  <td>@(part.Quantity * part.SaparePart.Price) zł</td>
                                              </tr>
                                          }
                                      </tbody>
                                      <tfoot>
                                          <tr>
                                              <td></td>
                                              <td></td>
                                              <td>Razem do zapłaty:</td>
                                              <td><strong>@(Model.RepairItems.Sum(x => x.Quantity * x.SaparePart.Price)) zł</strong></td>
                                          </tr>
                                      </tfoot>
                                  </table>
                              </div>
                  </div>
              </div>
</div>

