@model PhoneService.Core.Models.Repair.RepairDetailsResponse
@{
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}
<style>
body,[role=main]{
    margin-top:0;
    padding-top: 15px;
}
</style>
<div class="container">
    <p class="text-center"><img src="~/images/telmax-logo.png" alt="TelMax" width="200"></p>
    @if (@Model.StatusId == 3)
        {
            <div class="alert alert-info" role="alert">
              <h3 class="alert-heading">Witaj @Model.CustomerDetails.Name!</h3>
              <p>Twoja wycena została <strong>zaakceptowana</strong>, a Twój <strong>@Model.Product.Producer @Model.Product.Model</strong> trafił do naprawy.</p>
              <hr>
              <p class="mb-0">
                  Kiedy Twój telefon zostanie naprawiony otrzymasz od nas <strong>wiadomość e-mail</strong> z dalszymi instrukcjami. Możesz także
                    sprawdzać status swojej naprawy na tej stronie.</p>
            </div>
        }
        
        @if (@Model.StatusId == 4)
        {
            <div class="alert alert-success" role="alert">
                    <h3 class="alert-heading">Witaj @Model.CustomerDetails.Name!</h3>
            <br />
            <p>Twój <strong>@Model.Product.Producer @Model.Product.Model</strong> jest <strong>gotowy do odbioru!</strong></p>
            <hr>
            <p>
                Zapraszamy do naszego punktu w godzinach <strong>od 7:30 do 18:30</strong>.
            </p>
            </div>
        
        }
        
        @if (@Model.StatusId == 5)
        {
            <div class="alert alert-light" role="alert">
                    <h3 class="alert-heading">Witaj @Model.CustomerDetails.Name!</h3>
            <br />
            <p>Twój <strong>@Model.Product.Producer @Model.Product.Model</strong> został przez Ciebie <strong>odebrany</strong>.</p>
            <hr>
            <p>
                Dziękujemy za korzystanie z usług TelMax.
            </p>
        </div>
        
        }
        
        @if (@Model.StatusId == 6)
        {
            <div class="alert alert-danger" role="alert">
                    <h3 class="alert-heading">Witaj @Model.CustomerDetails.Name!</h3>
            <br />
            <p><strong>Odrzucono</strong> wycenę naprawy @Model.Product.Producer @Model.Product.Model.</p>
            <hr>
            <p>
                Zapraszamy do naszego punktu w godzinach od 7:30 do 18:30 po <strong>odbiór telefonu</strong>.
            </p>
        </div>
        
        }
        
        @if (@Model.StatusId == 7)
        {
            <div class="alert alert-warning" role="alert">
                    <h3 class="alert-heading">Witaj @Model.CustomerDetails.Name!</h3>
            <br />
            <p>Twój <strong>@Model.Product.Producer @Model.Product.Model</strong> został przez Ciebie <strong>odebrany</strong>.</p>
            <hr>
            <p>
                Przykro nam, że nie skorzystałeś/aś z usług TelMax. Jeżeli kiedyś zmienisz zdanie, zapraszamy ponownie.
            </p>
        </div>
        
        }
        <div class="row">
                <div class="col-sm-6">
                        <h5>Szczegóły naprawy</h5>
                        <hr>
                        <p>Numer naprawy: <span class="badge badge-primary">#@Model.RepairId</span></p>
                        <p>Klient: <strong>@Model.CustomerDetails.Name @Model.CustomerDetails.LastName</strong></p>
                        <p>Zarejestrowano dnia: <strong>@Model.CreateTime</strong></p>
                        <p>Obecny status: <span class="badge badge-primary">@Model.StatusName</s></p>
                        <p>Opis usterki: <em>@Model.Description</em></p>
                </div>
                <div class="col-sm-6">
                        <h5>Wycena</h5>
                        <hr />
                        <div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Część</th>
                                        <th>Cena jednostkowa</th>
                                        <th>Ilość</th>
                                        <th>Cena końcowa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var part in @Model.RepairItems)
                                    {
                                        <tr>
                                            <td>@part.SaparePart.Name</td>
                                            <td>@part.SaparePart.Price</td>
                                            <td>@part.Quantity</td>
                                            <td>@(part.Quantity * part.SaparePart.Price) zł</td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>Razem do zapłaty:</td>
                                        <td><strong>@(Model.RepairItems.Sum(x => x.Quantity * x.SaparePart.Price)) zł</strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                </div>
            </div>
</div>

        

