@model PhoneService.Core.Models.Repair.RepairDetailsResponse

<h2>Szczegóły naprawy <small>#@Model.RepairId</small> <span class="badge badge-primary" title="Status">@Model.StatusName</span></h2>

<div class="row">
    <div class="col-sm-6">
        <h5>Klient </h5>
        <hr />
        <div class="row">
            <div class="col-sm-6">
                <p>Klient: <a asp-controller="Customer" asp-action="UpdateCustomer" asp-route-id="@Model.CustomerId" title="Edytuj"><strong>@Model.CustomerDetails.Name @Model.CustomerDetails.LastName</strong></a></p>
                <p>Miasto: <strong>@Model.CustomerDetails.City </strong> </p>
                <p>Kod pocztowy: <strong>@Model.CustomerDetails.PostCode </strong> </p>
                @if(@Model.CustomerDetails.Adress != null){
                    <p> Adres: <strong>@Model.CustomerDetails.Adress </strong> </p>
                }
            </div>
            <div class="col-sm-6">
                    <p> Numer telefonu: <strong>@Model.CustomerDetails.PhoneNum </strong> </p>
                    <p> Email: <a href="mailto:@Model.CustomerDetails.Email"><strong>@Model.CustomerDetails.Email</strong></a> </p>
                    <p> NIP: <strong>@Model.CustomerDetails.TaxNum </strong> </p>
            </div>
        </div>
        <h5>Produkt</h5>
        <hr />
        <p>Producent / Model: <a asp-action="Details" asp-controller="Product" asp-route-id="@Model.Product.ProductId"><strong>@Model.Product.Producer @Model.Product.Model</strong></a></p>
        @if(@Model.Product.Description != null){
            <p class="card" title="Opis produktu">
                    <span class="card-body">@Model.Product.Description</span>
            </p>
        }
        @if(@Model.Description != null){
            <h5>Opis usterki</h5>
            <hr />
            <p class="card">
                    <span class="card-body">@Model.Description</span>
                </p>
        } 
    </div>
    <div class="col-sm-6">
            <h5>Wycena usterki i zarządzanie naprawą</h5>
            <hr />
            @if (Model.RepairItems.Any())
            {
                <h6>Części zamienne</h6>
                <hr />
                <table class="table table-stripped">
                    <thead>
                        <tr>
                            <th>Nazwa</th>
                            <th>Numer referencyjny</th>
                            <th>Cena jednostkowa</th>
                            <th>Ilość</th>
                            <th>Suma</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.RepairItems != null)
                        {
                            if (Model.RepairItems.Any())
                            {
                                foreach (var item in @Model.RepairItems)
                                {
                                    <tr>
                                        <td>@item.SaparePart.Name</td>
                                        <td>@item.SaparePart.ReferenceNumber</td>
                                        <td>@item.SaparePart.Price</td>
                                        <td>@item.Quantity</td>
                                        <td>@(item.Quantity * @item.SaparePart.Price)</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5" class="text-right"><strong>Do zapłaty:</strong></td>
                            <td>@(Model.RepairItems.Sum(x => x.Quantity * x.SaparePart.Price))</td>
                        </tr>
                    </tfoot>
                </table>
            }
            else
            {
                <p class="alert alert-warning"><i class="fas fa-exclamation-triangle"></i> Brak części zamiennych</p>
            }
            <br />
            @if (Model.StatusId == 1)
            {
                <h6>Wycena naprawy</h6>
                <hr>
            
                <a class="btn btn-primary" asp-controller="Repair" asp-action="UpdateRepair" asp-route-repairId="@Model.RepairId">
                    <i class="fa fa-plus" aria-hidden="true"></i> Dodaj części zamienne
                </a>
            }
            
            @if (Model.StatusId == 2)
            {
                <h6>Decyzja klienta</h6>
                <hr>
                <p class="alert alert-info"><i class="fa fa-info-circle" aria-hidden="true"></i> Jeżeli klient nie jest obecny, czekamy na jego decyzję.</p>
            
                <div class="row">
                    <div class="col-sm-6">
                        <form asp-controller="Repair" asp-action="UpdateRepairStatus" method="post" asp-antiforgery="true"
                              asp-route-repairId="@Model.RepairId" asp-route-statusId="3">
                            <button type="submit" class="btn btn-success btn-block"><i class="fa fa-arrow-left" aria-hidden="true"></i> Przekaż do naprawy</button>
                        </form>
                    </div>
                    <div class="col-sm-6">
                        <form asp-controller="Repair" asp-action="UpdateRepairStatus" method="post" asp-antiforgery="true"
                              asp-route-repairId="@Model.RepairId" asp-route-statusId="6">
                              <button type="submit" class="btn btn-danger btn-block"><i class="fa fa-times" aria-hidden="true"></i> Odrzuć wycenę</button>
                        </form>
                    </div>
                </div>
            
            }
            
            @if (Model.StatusId == 3)
            {
                <h6>Produkt w naprawie</h6>
                <hr>
                <p class="alert alert-info"><i class="fa fa-info-circle" aria-hidden="true"></i> Wybierz, jeżeli produkt wrócił z naprawy i fizycznie znajduje się w serwisie</p>
                <form asp-controller="Repair" asp-action="UpdateRepairStatus" method="post" asp-antiforgery="true"
                          asp-route-repairId="@Model.RepairId" asp-route-statusId="4">
                          <button type="submit" class="btn btn-success btn-block"><i class="fa fa-check" aria-hidden="true"></i> Produkt gotowy do odbioru</button>
                    </form>
            
            }
            
            @if (Model.StatusId == 4)
            {
                <h6>Naprawa zrealizowana</h6>
                <hr>
                <p class="alert alert-success"><i class="fa fa-check-circle" aria-hidden="true"></i> Produkt gotowy do odbioru</p>
                <p>Wybierz w momencie odbioru produktu przez klienta</p>
                <form asp-controller="Repair" asp-action="UpdateRepairStatus" method="post" asp-antiforgery="true"
                          asp-route-repairId="@Model.RepairId" asp-route-statusId="5">
                        <button type="submit" class="btn btn-success btn-block"><i class="fa fa-check" aria-hidden="true"></i> Klient odebrał produkt</button>
                </form>
            }
            
            @if (Model.StatusId == 5)
            {
                <h6>Zakończona</h6>
                <hr>
                <p class="alert alert-success"><i class="fa fa-check-circle" aria-hidden="true"></i> Klient odebrał produkt</p>
            }
            
            @if (Model.StatusId == 6)
            {
                <h6>Wycena odrzucona przez klienta</h6>
                <hr>
            
                <p class="alert alert-info"><i class="fa fa-info-circle" aria-hidden="true"></i> Wybierz, jeżeli klient odebrał produkt</p>
                <form asp-controller="Repair" asp-action="UpdateRepairStatus" method="post" asp-antiforgery="true"
                          asp-route-repairId="@Model.RepairId" asp-route-statusId="7">
                          <button type="submit" class="btn btn-success btn-block"><i class="fa fa-check" aria-hidden="true"></i> Klient odebrał produkt</button>
                    </form>
            }
            
            @if (Model.StatusId == 7)
            {
                <h6>Zakończona bez naprawy</h6>
                <hr>
                <p>Klient odebrał produkt</p>
            }
    </div>
</div>

