@model IEnumerable<PhoneService.Core.Models.Repair.RepairResponse>

<h2>Lista napraw</h2>
<p class="text-right">
    <a class="btn btn-outline-success" asp-action="AddRepair" asp-controller="Repair"><i class="fa fa-plus" aria-hidden="true"></i> Zarejestruj naprawę</a>
</p>
<div>
    <table class="table">
        <thead class="tab-pane">
            <tr>
                <th>Numer Id</th>
                <th>Data rejestracji</th>
                <th>Nazwa produktu</th>
                <th>Id Klienta</th>
                <th>Nazwa klienta</th>
                <th>Status</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody class="tab-content">
            @if (!Model.Any())
            {
                <tr>
                    <td>Brak napraw</td>
                </tr>
            }
            else
            {
                foreach (var repair in Model)
                {
                    <tr>

                        <td>@repair.RepairId</td>
                        <td>@repair.CreateDate</td>
                        <td>@repair.Product</td>
                        <td>@repair.CustomerId</td>
                        <td>@repair.CustomerName @repair.LastName</td>
                        <td>@repair.RepairStatusName</td>
                        <td>
                            <div class="d-inline-flex">
                                    <a class="btn btn-primary btn-sm" asp-action="Details" asp-controller="Repair" asp-route-repairId="@repair.RepairId"><i class="fa fa-eye" aria-hidden="true"></i> Zobacz</a>
                                    <form class="active" asp-action="RemoveRepair" method="post"
                                      asp-controller="Repair" asp-route-repairId="@repair.RepairId">
                                    <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Czy na pewno chcesz usunać tę naprawę?')">
                                        <i class="fa fa-trash" aria-hidden="true"></i>  Usuń
                                    </button>
                                    </form>
                            </div>
                                
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


