@model IEnumerable<PhoneService.Core.Models.Repair.RepairResponse>
@{
    var repairClass = "light";
}
<div class="row">
    <div class="col">@await Component.InvokeAsync("RepairSearchComponent")</div>
</div>
<div class="row">
    <div class="col">
        <h2 class="float-left h3">Lista napraw</h2>
        <p class="text-right float-right">
            <a class="btn btn-outline-success" asp-action="AddRepair" asp-controller="Repair"><i class="fa fa-plus" aria-hidden="true"></i> Zarejestruj naprawę</a>
        </p>
    </div>
</div>
<div>
    <table class="table repair-index__table">
        <thead class="tab-pane">
            <tr>
                <th>Klient</th>
                <th>Produkt</th>
                <th>Status</th>
                <th>Data rejestracji</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="tab-content">
            @if (!Model.Any())
            {
                <tr>
                    <td>Brak napraw</td>
                </tr>
            }
            else
            {
                foreach (var repair in Model)
                {
                    <tr>

                        <td><a asp-action="UpdateCustomer" asp-controller="Customer" asp-route-id="@repair.CustomerId" title="Edytuj">@repair.CustomerName @repair.LastName</a></td>
                        <td>@repair.Product</td>
                        <td>
                            @if (repair.RepairStatusName == "Przyjeta")
                            {
                                repairClass = "success";
                            }
                            else if (repair.RepairStatusName == "Wyceniona")
                            {
                                repairClass = "info";
                            }
                            else if (repair.RepairStatusName == "W trakcie realizacji")
                            {
                                repairClass = "primary";
                            }
                            else if (repair.RepairStatusName == "Zrealizowana")
                            {
                                repairClass = "dark";
                            }
                            else if (repair.RepairStatusName == "Zakończona")
                            {
                                repairClass = "danger";
                            }
                            else if (repair.RepairStatusName == "Odrzucona")
                            {
                                repairClass = "secondary";
                            }
                            else if (repair.RepairStatusName == "Zakończona bez naprawy")
                            {
                                repairClass = "warning";
                            }
                            <span class="badge badge-pill badge-@repairClass">
                                @repair.RepairStatusName
                            </span>
                        </td>
                        <td>@repair.CreateDate</td>
                        <td>
                            <div class="d-inline-flex">
                                <a class="btn btn-link text-primary" asp-action="Details" asp-controller="Repair" asp-route-repairId="@repair.RepairId"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                <form class="active" asp-action="RemoveRepair" method="post"
                                      asp-controller="Repair" asp-route-repairId="@repair.RepairId">
                                    <button type="submit" class="btn btn-link text-danger" onclick="return confirm('Czy na pewno chcesz usunać tę naprawę?')">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </form>
                            </div>

                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


