@using PhoneService.Core.Models.RepairItem
@model PhoneService.Core.Models.Repair.RepairUpdateRequest

<h2>Dodaj części zamienne dla naprawy</h2>

<h5>Numer naprawy: <strong>@Model.RepairId</strong> <br />Status: <strong>@Model.StatusId</strong></h5>

<br />
<h4>Opis usterki</h4>
<hr />
<div class="col-sm-12">
    <p>@Model.Description</p>
</div>

<br />
<h4>Wycena usterki i zarządzanie naprawą</h4>
<hr />
<div>
    <form id="form" asp-controller="Repair" asp-action="UpdateRepair" asp-route-repairId="" method="post" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="CustomerId" />
        <input type="hidden" asp-for="Description" />
        <input type="hidden" asp-for="ProductId" />
        <input type="hidden" asp-for="RepairId" />
        <input type="hidden" asp-for="CreateTime" value="@DateTime.Now" />
        <input type="hidden" asp-for="StatusId" value="2" />
        <button onclick="addItem(form)">Dodaj kolejną część</button>
        <br />
        <div class="form-group" id="item-list">
            @Html.EditorFor(m => m.RepairItems, "RepairItems")
        </div>
        <div class="form-group">
            <input type="submit" value="Zapisz wycenę" onclick="submit()" class="btn btn-default" />
        </div>
    </form>
</div>

<script type="text/javascript">

    function addItem() {
        $("form").click(function(event) {
            event.preventDefault();
        });  
        var i = $(".items").length;
        var n = '<div class="items">' +
            ' <input type="hidden" data-val="true" data-val-required="The RepairId field is required." id="RepairItems_' + i + '__RepairId" name="RepairItems[' + i + '].RepairId" value="0" /> ' +
            ' <input type="number" data-val="true" data-val-required="The SaparePartId field is required." id="RepairItems_' + i + '__SaparePartId" name="RepairItems[' + i + '].SaparePartId" value="0" /> ' +
            ' <input type="number" data-val="true" data-val-required="The Quantity field is required." id="RepairItems_' + i + '__Quantity" name="RepairItems[' + i + '].Quantity" value="0" /> ' +
            ' </div>';
        $("#item-list").append(n);
    };

    function submit() {
        $("form").submit();
    };

</script>