
        @model PhoneService.Core.Models.Repair.RepairUpdateRequest

        <h2>Dodaj części zamienne dla naprawy</h2>

        <h5>Numer naprawy: <strong>@Model.RepairId</strong> <br />Status: <strong>@Model.StatusId</strong></h5>

        <br />
        <h4>Opis usterki</h4>
        <hr />
        <div class="col-sm-12">
            <p>@Model.Description</p>
        </div>

        <br />
        <h4>Wycena usterki i zarządzanie naprawą</h4>
        <hr />
        <p>Części w Naprawie</p>
        <table>
            <thead>
                <tr>
                    <th>Id Części</th>
                    <th>Nazwa części</th>
                    <th>Numer referencyjny</th>
                    <th>Cena jednostkowa</th>
                    <th>Ilość</th>
                    <th>Suma</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.RepairItems != null)
                {
                    if (Model.RepairItems.Any())
                    {
                        foreach (var item in @Model.RepairItems)
                        {
                            <tr>
                                <td>@item.SaparePartId</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>@item.Quantity</td>
                                <td></td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
        <hr />
        <div>
            <button onclick="showStuff('listItems')">Dodaj kolejną część</button>
            <br />
            <div style="display: none" id="listItems">
                @await Component.InvokeAsync("RepairForSaparePartSelectComponent", new { productId = @Model.ProductId })
            </div>
        </div>
        <div>
            <form id="form" asp-controller="Repair" asp-action="UpdateRepair" asp-route-repairId="" method="post" asp-antiforgery="true"
                  asp-route-quantity="" asp-route-saparepartId="">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="CustomerId" />
                <input type="hidden" asp-for="Description" />
                <input type="hidden" asp-for="ProductId" />
                <input type="hidden" asp-for="RepairId" />
                <input type="hidden" asp-for="Links.DecisionLink" value="https://www.onet.pl/" />
                <input type="hidden" asp-for="StatusId" value="2" />
                @if (Model.RepairItems != null)
                {
                    if (Model.RepairItems.Any())
                    {
                        foreach (var item in Model.RepairItems)
                        {
                            <div class="form-group">
                                <input type="hidden" asp-for="@item.SaparePartId" />
                                <input type="hidden" asp-for="@item.Quantity" />
                            </div>
                        }
                    }
                }
                <div class="form-group">
                    <input type="submit" value="Zapisz wycenę" onclick="submit()" class="btn btn-default" />
                </div>
            </form>
        </div>

        <script type="text/javascript">
            function showStuff(id) {
                document.getElementById(id).style.display = 'block';
            }
        </script>
