@model PhoneService.Core.Models.Repair.RepairUpdateRequest

<h2>Dodaj części zamienne dla naprawy</h2>

<h5>Numer naprawy: <strong>@Model.RepairId</strong> <br />Status: <strong>@Model.StatusId</strong></h5>

<br />
<h4>Opis usterki</h4>
<hr />
<div class="col-sm-12">
    <p>@Model.Description</p>
</div>

<br />
<h4>Wycena usterki i zarządzanie naprawą</h4>
<hr />
<div>
    <form asp-controller="Repair" asp-action="UpdateRepair" asp-route-repairId="" method="post" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="CustomerId" />
        <input type="hidden" asp-for="Description" />
        <input type="hidden" asp-for="ProductId" />
        <input type="hidden" asp-for="RepairId" />
        <input type="hidden" asp-for="CreateTime" value="@DateTime.Now" />
        <input type="hidden" asp-for="StatusId" value="2" />
        <div class="form-group">
            <table id="Table">
                <tbody>
                @Html.EditorFor(m => m.RepairItems)
                </tbody>
            </table>
            <button id="AddObject" type="button" class="btn btn-primary">Dodaj część</button>
        </div>
        <div class="form-group">
            <input type="submit" value="Zapisz wycenę" class="btn btn-default" />
        </div>
    </form>
</div>

<script type="text/javascript">
    $('#AddObject').click(function () {
        var i = $(".thingRow").length;
        $.ajax({
            url: 'AddObject?index=' + i,
            success: function (data) {
                $('#Table > tbody').append(data);
            },
            error: function (a, b, c) {
                console.log(a, b, c);
            }
        });
    });
</script>