@model IEnumerable<PhoneService.Core.Models.Product.ProductResponse>

    <div>
        <p class="text-right"><a class="btn btn-primary" asp-action="AddProduct" asp-controller="Product"><i class="fa fa-plus" aria-hidden="true"></i> Dodaj nowy produkt</a></p>
        <table class="table table-striped">
            <thead class="tab-pane">
                <tr>
                    <th>#</th>
                    <th>Producent</th>
                    <th>Model</th>
                    <th>Opis</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="tab-content">
                @foreach (var product in Model)
                {
                    <tr>

                        <td>@product.ProductId</td>
                        <td>@product.Producer</td>
                        <td>@product.Model</td>
                        <td>@product.Description</td>
                        <td>
                            <p>
                                <a class="btn btn-outline-success" asp-action="AddRepair" asp-controller="Repair" asp-route-productId="@product.ProductId">Wybierz</a>
                            </p>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

