@model IEnumerable<PhoneService.Core.Models.Customer.CustomerResponse>

<div class="row">
    <div class="col">@await Component.InvokeAsync("CustomerSearchComponent")</div>
</div>
<br/> 

<div class="row">
    <div class="col">
        <h2 class="float-left h3">Lista  klientów</h2>
        <p class="text-right float-right">
            <a class="btn btn-outline-success" asp-action="AddCustomer" asp-controller="Customer"><i class="fa fa-plus" aria-hidden="true"></i> Dodaj klienta</a>
        </p>
    </div>
</div>
@if (@Model.Any())
{
    <div>
        <table class="table">
            <thead class="tab-pane">
            <tr>
                <th>Klient</th>
                <th>Nr tel.</th>
                <th>E-mail</th>
                <th>NIP</th>
                <th></th>
            </tr>
            </thead>
            <tbody class="tab-content">
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@customer.Name @customer.LastName</td>
                    <td>@customer.PhoneNum</td>
                    <td>@customer.Email</td>
                    <td>@customer.TaxNum</td>
                    <td>
                        <div class="d-inline-flex">
                                <a class="text-warning btn btn-link" asp-action="UpdateCustomer"
                                asp-controller="Customer" asp-route-id="@customer.CustomerId" title="Edytuj"><i class="fas fa-pen-square"></i></a>
                                <form asp-action="RemoveCustomer" method="post" asp-controller="Customer" asp-route-id="@customer.CustomerId">
                                <button type="submit" class="btn btn-link text-danger" onclick="return confirm('Czy na pewno chcesz usunać tego klienta?')" title="Usuń"> <i class="fa fa-trash" aria-hidden="true"></i> </button>
                        </form>
                        </div>
                        
                           
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>

}
else
{
    <p>Brak klientów</p>
}