@model PhoneService.Core.Models.Other.Statistics

<h1>Panel główny</h1>

<h4 class="page-heading">
    Podsumowanie bieżących napraw
</h4>

<section class="home-stats d-flex flex-wrap">
    <div class="col-4">
        <article class="home-stats__item">
            <span class="home-stats__item-number">@Model.New</span>
            Przyjęta
        </article>
    </div>
    <div class="col-4">
        <article class="home-stats__item">
            <span class="home-stats__item-number">@Model.Priced</span>
            Wyceniona
        </article>
    </div>
    <div class="col-4">
        <article class="home-stats__item">
            <span class="home-stats__item-number">@Model.InProgress</span>
            W trakcie realizacji
        </article>
    </div>
    <div class="col-4">
        <article class="home-stats__item">
            <span class="home-stats__item-number">@Model.Completed</span>
            Zrealizowana
        </article>
    </div>
    <div class="col-4">
        <article class="home-stats__item">
            <span class="home-stats__item-number">@Model.Rejected</span>
            Odrzucona
        </article>
    </div>
    <a class="col-4" asp-action="AddRepair" asp-controller="Repair">
        <article class="home-stats__item home-stats__item--action">
            <span class="home-stats__item-number"><i class="fa fa-plus" aria-hidden="true"></i></span>
            Zarejestruj naprawę
        </article>
    </a>
</section>