@model IEnumerable<PhoneService.Core.Models.Customer.CustomerResponse>

    <div>
        <p class="text-right"><a class="btn btn-info" asp-action="AddCustomer" asp-controller="Customer"><i class="fa fa-plus" aria-hidden="true"></i> Dodaj nowego klienta</a></p>
        <table class="table table-striped">
            <thead class="tab-pane">
            <tr>
                <th>Klient</th>
                <th>Nr tel.</th>
                <th>E-mail</th>
                <th>NIP</th>
                <th></th>
            </tr>
            </thead>
            <tbody class="tab-content">
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@customer.Name @customer.LastName</td>
                    <td>@customer.PhoneNum</td>
                    <td>@customer.Email</td>
                    <td>@customer.TaxNum</td>
                    <td>
                        <a class="btn btn-outline-success" asp-action="AddRepair"
                           asp-controller="Repair" asp-route-customerId="@customer.CustomerId">Wybierz</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
