@model IEnumerable<PhoneService.Core.Models.Customer.CustomerResponse>

<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-9">

        </div>
        <div class="col-sm-3">
            <a class="btn btn-outline-dark" asp-action="AddCustomer" asp-controller="Customer">Dodaj nowego klienta</a>
        </div>
    </div>
    <div>
        <table class="table table-dark">
            <thead class="tab-pane">
            <tr>
                <th>Numer Id</th>
                <th>Nazwa klienta</th>
                <th>Nr tel.</th>
                <th>E-mail</th>
                <th>NIP</th>
                <th></th>
            </tr>
            </thead>
            <tbody class="tab-content">
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@customer.CustomerId</td>
                    <td>@customer.Name @customer.LastName</td>
                    <td>@customer.PhoneNum</td>
                    <td>@customer.Email</td>
                    <td>@customer.TaxNum</td>
                    <td>
                        <a class="nav-link active" asp-action="AddRepair"
                           asp-controller="Repair" asp-route-customerId="@customer.CustomerId">Wybierz</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
