@model List<PhoneService.Core.Models.SaparePart.SaparePartResponse>

@{
    List<string> idInput = new List<string>();

    List<string> idForm = new List<string>();

    foreach (var item in @Model)
    {
        var idI = @item.SaparePartId + "input";
        var idF = @item.SaparePartId + "form";

        @idInput.Add(@idI);
        @idForm.Add(@idF);
    }

}
<div>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>#</th>
                <th>Nazwa</th>
                <th>Numer referencyjny</th>
                <th>Cena</th>
                <th>Ilość</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <td>@Model[i].SaparePartId</td>
                    <td>@Model[i].Name</td>
                    <td>@Model[i].ReferenceNumebr</td>
                    <td>@Model[i].Price.ToString("C")</td>
                    <td>
                        <input type="number" id="@idInput[i]" class="form-control form-control-sm" value="1" min="1" max="50"/>
                    </td>
                    <td>
                        <a id="@idForm[i]" href="#" class="btn btn-outline-success" onclick="valueSwitch('@idInput[i]','@idForm[i]','@Model[i].SaparePartId')"><i class="fa fa-plus" aria-hidden="true"></i> Dodaj</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">

    function valueSwitch(inputId, formId, saparePartId) {
        var quantity = $("#" + inputId).val();
        console.log(quantity);
        var s = $("#" + formId).attr('href', '@Url.Action("UpdateRepair", "Repair")?quantity=' + quantity + '&saparePartId=' + saparePartId);
        console.log(s);
    };
</script>
